@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "IBM Plex Sans Thai", sans-serif;
  line-height: 1.75;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  color: "#0C0C0C";
  background-color: "#f9f9f9";
}

html {
  font-size: 100%;
}

p {
  margin-bottom: 1rem;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text_small {
  font-size: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
